<p-panel header="Pipes Básicos" class="p-5">
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4 ">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="titlecase">
      {{ fullname | titlecase }}
    </p-card>
  </div>
  <div class="col-12 md:col-4 ">
    <p-card header="Date">
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'MMMM'</li>
        <li>fecha | date:'MMMM dd, yyyy'</li>
      </ul>
      <hr />
      <ol>
        <li>fehca | date:'long': 'GMT+1'</li>
        <li>fehca | date:'long': 'GMT+2'</li>
        <li>fehca | date:'long': '': 'es-ES'</li>
        <li>fehca | date:'long': '': 'en-EN'</li>
        <li>fehca | date:'long': '': 'fr-CA'</li>
      </ol>
    </p-card>
  </div>
  <div class="col-12 md:col-8 ">
    <p-card header="Date PIPE">
      <ul>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date }}</li>
        <li>{{ customDate | date: 'short'}}</li>
        <li>{{ customDate | date: 'long'}}</li>
        <li>{{ customDate | date: 'MMMM'}}</li>
        <li>{{ customDate | date: 'MMMM dd, yyyy'}}</li>
      </ul>
      <hr />
      <ol>
        <li>{{ customDate | date:'long': 'GMT+1' }}</li>
        <li>{{ customDate | date:'long': 'GMT+2' }}</li>
        <li>{{ customDate | date:'long': '': 'es-ES' }}</li>
        <li>{{ customDate | date:'long': '': 'en-EN' }}</li>
        <li>{{ customDate | date:'long': '': 'fr-CA' }}</li>
      </ol>
    </p-card>
  </div>
</div>
